<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="general-guidance.html">General Guidance</a>
      </li>
      <li>
        <a href="security.html">Security</a>
      </li>
      <li>
        <a href="developmentprocess.html">Development Process</a>
      </li>
    </ul>
  </li>
  <li><a href="allartifacts.html">FHIR Artifacts</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir/us/core/2019Jan">US Core <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>
